body {
  margin:0;
  padding:0;
  font-family:Arial, sans-serif;
  height:100vh;
  background:url('DTUG.jpg') center/cover no-repeat;
}
.overlay {
  background:rgba(0,0,0,0.5);
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:white;
  text-align:center;
  padding: 20px;
}
h1 { font-size:3em; margin:0; }
p { font-size:1.2em; margin-bottom:20px; }
#mc_embed_signup {
    text-align: left;
}
