body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.background {
    background: url('DTUG.jpg') center center/cover no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.35);
}

.content {
    text-align: center;
    margin-top: 20vh;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}
